@import "config";
@import "utilities";
@import "main_part_home_page";
@import "portfolio";

// general styles
*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: $bg-image no-repeat center right/cover;
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
}

// Logo --> In case I make logo
// #logo {
//   width: 70px;
//   height: 70px;
//   color: #fff;
//   text-transform: uppercase;
// }

#stars {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#hero {
  // max-width: $website-width;
  padding: 0 5rem;
}

// Main nav --> for all pages
// #main-nav {
//   display: flex;
//   justify-content: space-between;
//   // padding: 1.5rem;
//   align-items: center;
//   z-index: 9999;

//   h1 {
//     color: #fff;
//     text-transform: uppercase;
//     font-size: 1.5rem !important;
//     position: relative;
//   }

//   ul {
//     display: flex;
//   }

//   li {
//     padding: 1rem 1.5rem;
//   }

//   a {
//     text-decoration: none;
//     color: #fff;
//     text-transform: uppercase;
//     border-bottom: 3px transparent solid;
//     padding-bottom: 0.5rem;
//     transition: border-color 0.5s;
//     position: relative;

//     &:hover {
//       border-color: $medium-color;
//     }

//     &.current {
//       border-color: $main-color;
//     }
//   }
// }

/* positioning of menu */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

/* Hidding checkbox */
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

/* Hamburger box */
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger lines */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger top and bottom lines */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Since we defined the after above, it's not showen and we need to put it down */
/* Moves line down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler animation */
.menu-wrap .toggler.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns lines into X */
.menu-wrap .toggler.toggler:checked + .hamburger > div::before,
.menu-wrap .toggler.toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: $menu-speed;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: rgb(74, 12, 124);
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  a {
    color: none;
    h1 {
      font-size: 7rem;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
    }
  }
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: $light-color;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  z-index: 9999;
  position: relative;
  text-align: center;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: $light-color;
}

//
//
//

// Header
#header {
  // Header --> Home Page
  &-home {
    height: 0vh;
    color: $light-color;
    z-index: 9999;

    // Header content
    .header-content {
      text-align: left;
      padding-top: 15%;
      display: inline-block;
    }

    h1 {
      font-size: 7rem;
      line-height: 1.2;
      position: relative;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
    }

    a {
      position: relative;
    }
  }

  // Header --> About Me Page
  &-inner {
    height: 0px;
    color: $light-color;
    z-index: 9999;
    .container {
      height: 100vh;
      max-width: $website-width;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      main {
        margin-top: 20rem;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .about-me-grid {
          .text-about-me {
            max-width: 700px;
            align-self: center;
            justify-content: center;
            text-align: center;
            margin: auto;
            h1 {
              font-weight: bold;
              text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
            }
            p {
              justify-content: center;
              align-items: center;
              text-align: center;
              line-height: 5rem;
              font-size: 5rem;
              text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
            }
          }
        }
      }
    }
  }

  // Header --> Project Page
  &-projects {
    height: 0px;
    color: $light-color;
    z-index: 9999;
    .container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .text-to-scroll {
      h1 {
        color: $light-color;
        text-align: center;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
        font-size: 5rem;
      }
    }

    .section {
      height: 5vh;
      position: relative;
      width: 100%;
    }

    .section::before {
      animation: bounce 1s ease infinite;
      bottom: 1rem;
      color: $light-color;
      content: "╲╱";
      font-size: 2rem;
      height: 4rem;
      left: 50%;
      letter-spacing: -1px;
      line-height: 4rem;
      margin-left: -3rem;
      opacity: 0.8;
      position: absolute;
      text-align: center;
      width: 6rem;
    }

    @keyframes bounce {
      50% {
        transform: translateY(-50%);
      }
    }
  }

  // Header --> Contact Me Page
  &-inner {
    height: 0px;
    color: $light-color;
    z-index: 9999;
    .container {
      height: 100vh;
      max-width: $website-width;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      main {
        max-height: 100vh;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text-about-me {
          width: 700px;
          text-align: center;
          margin: auto;
          text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
          h1 {
            align-self: center;
            font-size: 5rem;
            font-weight: bold;
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
            text-align: center;
          }
          p {
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 5rem;
            font-size: 3rem;
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
          }
        }
      }
    }
  }
}

// Footer - for all pages
#main-footer {
  background: transparent;
  color: $light-color;
  height: 5rem;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  p {
    margin: 0;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .fab {
      margin-right: 1rem;
      // border: 1px $light-color solid;
      border-radius: 50%;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        transform: scale(2);
      }
    }
  }
}

// Import Media Queries
@import "media";
